@{
    ViewData["Title"] = "Quadrants";
}

<body>
    <h1>Stephen Covey's Time Management Matrix</h1>
    <br />
    <br />
    <br />
    <div class="container-fluid" style="border:1px solid #cecece;">
        <div class="row">
            <div class="col-3"><br /><br /><br /><h2>Important</h2></div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <h2>Urgent</h2>
                        <h4>Quadrant 1</h4>
                        <ul>
                            @foreach (var x in Model)
                            {
                                @if (x.Quadrant == 1)
                                {
                                    <li>
                                        Task: @x.Task, Category: @x.Category.CategoryName, Due: @x.DueDate, Completed: @x.Completed
                                        <a class="btn" asp-controller="Home" asp-action="Edit" asp-route-taskId="@x.TaskId">Edit</a>
                                        <a class="btn" asp-controller="Home" asp-action="Delete" asp-route-taskId="@x.TaskId">Delete</a>
                                    </li>

                                }

                            }
                        </ul>
                    </div>
                    <div class="col-4">
                        <h2>Not Urgent</h2>
                        <h4>Quadrant 2</h4>
                        <ul>
                            @foreach (var x in Model)
                            {
                                @if (x.Quadrant == 2)
                                {
                                    <li>
                                        Task: @x.Task, Category: @x.Category.CategoryName, Due: @x.DueDate, Completed: @x.Completed
                                        <a class="btn" asp-controller="Home" asp-action="Edit" asp-route-taskId="@x.TaskId">Edit</a>
                                        <a class="btn" asp-controller="Home" asp-action="Delete" asp-route-taskId="@x.TaskId">Delete</a>
                                    </li>

                                }

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-3"><br /><br /><h2>Not Important</h2></div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <h4>Quadrant 3</h4>
                        <ul>
                            @foreach (var x in Model)
                            {
                                @if (x.Quadrant == 3)
                                {
                                    <li>
                                        Task: @x.Task, Category: @x.Category.CategoryName, Due: @x.DueDate, Completed: @x.Completed
                                        <a class="btn" asp-controller="Home" asp-action="Edit" asp-route-taskId="@x.TaskId">Edit</a>
                                        <a class="btn" asp-controller="Home" asp-action="Delete" asp-route-taskId="@x.TaskId">Delete</a>
                                    </li>

                                }

                            }
                        </ul>
                    </div>
                    <div class="col-4">
                        <h4>Quadrant 4</h4>
                        <ul>
                            @foreach (var x in Model)
                            {
                                @if (x.Quadrant == 4)
                                {
                                    <li>
                                        Task: @x.Task, Category: @x.Category.CategoryName, Due: @x.DueDate, Completed: @x.Completed
                                        <a class="btn" asp-controller="Home" asp-action="Edit" asp-route-taskId="@x.TaskId">Edit</a>
                                        <a class="btn" asp-controller="Home" asp-action="Delete" asp-route-taskId="@x.TaskId">Delete</a>
                                    </li>

                                }

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>






